.paginator {
  padding: 20px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  select {
    margin: 0 20px;
    width: 100px;
  }

  button:disabled {
    color: gray;
  }

  .pagination-button {

    outline: none;
    margin: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;

    &:hover {
      background-color: #bcbcbc;
      color: white;
    }
    &.selected {
      background-color: black;
      color: white;
    }
  }


  @media
  only screen
  and (max-width: 458px) {
    flex-flow: column;
    align-items: flex-end;

    select {
      margin: 20px 0;
    }

  }
}